/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-Aug-2016, 12:19:51
    Author     : Lee Columbus
*/
body {
    color: #282827;
    font-family: 'Questrial', sans-serif;
    background-image: url("../images/sand.png");
    background-repeat: repeat;
    padding-top: 15px !important;
}
.fa-angle-left:before {
    color: #282827;
}
.fa-search{
    color: #F9F6EE;
}
#banner-logo{
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    width:65px;
    height:65px;
}
#banner-text{
    width: auto;
    padding-top: 34px;

}
#title-line1{
    color: #F9F6EE;
    background-color: #282827;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    margin-top:0px;
    margin-right: 0px;
    margin-left: 5px;
    margin-bottom: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
}
#title-line2{
    color: #F9F6EE;
    background-color: #282827;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    display: inline-block;
}
#nav-social{
    padding: 15px;
    position: relative;
}

.main-nav{
    padding: 0px;
}
.navbar{
    border: none !important;
    border-color: transparent !important;
}
.nav{
    border: none !important;
    border-color: transparent !important;
}
.navbar-default {
    background-color: transparent !important;
    border-color: transparent !important;
}
.nav-justified li a {
    color: #F9F6EE !important;
    background-color: #282827 !important;
    background-image: none !important;
    border-color: #FFF !important;
    border-bottom: none !important;
    font-size: 14px;
    font-weight: bold !important;

}
.nav-justified > .active > a, .nav-justified > .active > a:hover, .nav-justified > .active > a:focus {
    color: #F9F6EE;
    background-color: #E25D33 !important;
}
.navbar-toggle{
    margin-right: 0px;
}
.portal-links a{
    color: #282827 !important;
}
#search{
    float: right;
    padding-right: 15px;
    border-radius: 5px;
}
.search{
    color: #fff;
    background-color: #E25D33;
    border-color: #A84C2F;    
}
.nav-pad{
    padding-bottom: 10px;
    padding-right: 20px;
}
.navbar{
    margin-bottom: 0px;
}
.navbar-collapse{
    padding: 0px !important;
}
.jumbotron{
    color: #F9F6EE;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/waterfront.jpg');
    background-size: cover;
    background-position-y: 42%;
}
.stories-con{
    padding-left: 0;
    padding-right: 0;
}
#stories{
    height:auto;
}
.panel {
    margin-bottom: 0px;
}
#panel1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/brunette.jpg');
    background-size: cover;
    background-position: left;
    padding:25px;
    border: 0;
    border-radius:5px;
    color: #F9F6EE;
    }
.panel1-md{
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    }
#panel2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/graffiti.jpg');
    background-size: cover;
    background-position: right;
    padding:25px;
    border: 0;
    border-radius:5px;
    color: #F9F6EE;
}
.panel2-md{
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
}
#panel3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/skateboards.jpg');
    background-size: cover;
    background-position: right;
    padding:25px;
    border: 0;
    border-radius:5px;
    color: #F9F6EE;
}
.panel3-md{
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
}
#panel4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/basketball.jpg');
    background-size: cover;
    background-position: left;    
    padding:25px;
    border: 0;
    border-radius:5px;
    color: #F9F6EE;
}
.panel4-md{
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
#panel5{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/sitting.jpg');
    background-size: cover;
    background-position: right;    
    padding:25px;
    border: 0;
    border-radius: 5px;
    color: #F9F6EE;
}
.panel5-md{
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 5px;
    padding-bottom: 5px;
}
#panel6{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/redhead.jpg');
    background-size: cover;
    background-position: center;    
    padding: 25px;
    border: 0;
    border-radius: 5px;
    color: #F9F6EE;
}
.panel6-md{
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 5px;
    padding-bottom: 5px;
}
#panel7{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/stairs.jpg');
    background-size: cover;
    background-position: center;    
    padding: 25px;
    border: 0;
    border-radius: 5px;
    color: #F9F6EE;
}
.panel7-md{
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 5px;
    padding-bottom: 5px;
}
#panel8{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/hallway.jpg');
    background-size: cover;
    background-position: center;    
    padding: 25px;
    border: 0;
    border-radius: 5px;
    color: #F9F6EE;
}
.panel8-md{
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
}
.icon:hover {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
}
.fa.fa-arrow-circle-right{
    color: #F9F6EE;
}
.form-group{
    padding-left:15px;
    padding-right:15px;
}
.form-control{
    background-color:#f8f8f8;
    border-radius:5px;
}
.btn.btn-primary{
    border-radius:0;
    margin: 10px;
    background-color: #E25D33;
    border-color: #A84C2F;
    margin-left: 0px;
    color: #F9F6EE;
}
#login_bar{
    background-color:#DDE8F0;
    border:0;
}
.btn.btn-login{
    background-color:#60bafd;
    color:#fff;
    padding:10px;
    margin:10px;
}
.btn.btn-login:hover{
    background-color:#00355A;
    color:#fff;
    padding:10px;
    margin:10px;
}
.btn-success {
    color: #F9F6EE;
    background-color: #E25D33 !important;
    border-color: #A84C2F;
}
form {
    display: block;
}
form input, textarea {
    border-radius: 2px;
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
    border: 1px solid #eceff1;
    padding: 6px 12px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #FFF;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
}
#contact-field{
    width: 100%;
}
.text-area{
    padding-bottom: 101px;
}
ul{
    list-style-type: none;
    padding: 0px;
}
.list {
    padding-top: 0.6em;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: #282827;
}

/* Featurettes
------------------------- */

/* Space out the Bootstrap <hr> more */
.featurette-divider {
    margin: 0px 0;
    margin-top: 15px;
    margin-bottom: 15px;
}
/* Thin out the marketing headings */
.featurette-heading1 {
    font-size: 45px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}
.featurette-heading2 {
    font-size: 45px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}
@media (min-width: 992px) {
    .featurette-heading1 {
        margin-top: 70px;
    }
    .featurette-heading2 {
        margin-top: 57px;
    }
}
@media (max-width: 320px) {
    .branding{
        padding: 0px;
        margin-left: 15px;
    }
    #banner-logo{
        height: 56px;
        width: 56px;
    }
    #title-line1{
        font-size: 20px;
    }
    #title-line2{
        font-size: 20px;
    }
}
.center-block{
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}
.footer{
    padding-top: 25px !important;;
    margin-top: 25px !important;
}